<form #inventoryForm="ngForm" (ngSubmit)="add(inventoryForm)">
  <table>
    <tr>
      <td>
        <div>
          Items:
        </div>
         <div>
            <select name="fruitsList" (change)="displayFruit($event)" required ngModel>
              <option *ngFor="let f of fruitsList; let i = index" [value]="i" >{{f.label}}</option>
            </select>
        </div>
        <div>
            <img [src]="fruitImg" class="thumbnail">
        </div>
      <td>
        <div>
          Quantity: 
        </div>
        <div>
          <input type="number" name="quantity" min="1" required ngModel>
        </div>
        <div>
          <button type="submit" [disabled]="inventoryForm.invalid">Add</button>
        </div>
      </td>
    </tr>
  </table>
</form>
