<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <a (click)='onHomeClick()' fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            
            <div>
                 <img src="assets/logo.png" class="icon">
            </div>
             <span>
                 StarWars Directory
             </span>
        </a>
    </div>
    <div>
        <button type='button' mat-icon-button (click)='onSearchClick()' color='accent'>
            <mat-icon>search</mat-icon>
        </button>
    </div>
</mat-toolbar>  

<router-outlet></router-outlet>